In [168]:
import pickle
import pandas as pd
from dateutil.relativedelta import relativedelta
from unidecode import unidecode
import numpy as np

from functools import partial

from ScrapeStaffBestRefactored import *

%reload_ext autoreload
%autoreload 2

In [169]:
leg_lop_df = pickle.load(open('leg_lop_df.p', 'rb'))
# cpy_leg_lop_df = pickle.load(open('cpy_leg_lop_df.p', 'rb'))

existing_staff_df = pickle.load(open('existing_staff_df.p', 'rb'))

# leg_lop_row = pickle.load(open('leg_lop_row.p', 'rb'))
# offices_df = pickle.load(open('offices_df.p', 'rb'))

# staff_info = pickle.load(open('staff_info.p', 'rb'))

# matched_rows_df = pickle.load(open('matched_rows_df.p', 'rb'))

# matched_leg_terms_df = pickle.load(open('matched_leg_terms_df.p', 'rb'))

# db_leg_term_infos = pickle.load(open('SavedLegTermInfo.p', 'rb'))
# db_leg_term_df = pd.DataFrame(db_leg_term_infos)
# db_leg_term_df = pickle.load(open('db_leg_term_df.p', 'rb'))

g_missed_staff = pickle.load(open('g_missed_staff.p', 'rb'))

# match_df = pickle.load(open('match_df.p', 'rb'))

In [170]:
bad_dates = leg_lop_df['last_seen'] > leg_lop_df['end_date']

In [171]:
sum(bad_dates)

124

In [175]:
leg_lop_df[leg_lop_df['last'].apply(lambda x: 'barnuevo' in x)]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,assoc_type,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,file_appearances,set_at_end,primary_source
50,angel,None,barnuevo jr.,2007-03-26,2011-02-28,2011.0,Senate,90556.0,51.0,SenateStaff 02-28-11.csv,leg,alex padilla,None,NaN,38302.0,Alex,None,Padilla,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
921,angel,None,barnuevo jr.,2007-03-26,2011-06-30,2011.0,Senate,91420.0,60.0,SenateStaff 06-30-11.csv,leg,alex padilla,None,NaN,38302.0,Alex,None,Padilla,2011-12-30,2011-06-30,SenateStaff 06-30-11.csv,False,True
3579,angel,None,barnuevo jr,2007-03-26,2013-02-28,2013.0,Senate,93676.0,60.0,SenateStaff 02-28-13.csv,leg,alex padilla,None,NaN,38302.0,Alex,None,Padilla,2013-08-28,2013-02-28,SenateStaff 02-28-13.csv,False,True
5115,angel,None,barnuevo jr.,2013-01-01,2013-06-30,2013.0,Senate,90556.0,60.0,SenateStaff 06-30-13.csv,leg,alex padilla,None,NaN,38302.0,Alex,None,Padilla,2014-12-31,2014-02-28,SenateStaff 06-30-13.csv SenateStaff 02-28-14.csv,False,True

In [180]:
row1 = leg_lop_df[leg_lop_df['last'].apply(lambda x: 'barnuevo' in x)].iloc[0]
row2 = leg_lop_df[leg_lop_df['last'].apply(lambda x: 'barnuevo' in x)].iloc[1]

In [185]:
cmp_names(row1['first'], row1['middle'], row1['last'], row2['first'], row2['middle'], row2['last'])

False

In [181]:
row1['first'] == row2['first']

True

In [182]:
row1['middle'] == row2['middle']

True

In [184]:
for l1, l2 in zip(row1['last'], row2['last']):
    print(l1, l2)
    print(l1 == l2)

b b
True
a a
True
r r
True
n n
True
u u
True
e e
True
v v
True
o o
True

True
j
False
r j
False
. r
False

In [172]:
leg_lop_df[bad_dates]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,assoc_type,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,file_appearances,set_at_end,primary_source
50,angel,None,barnuevo jr.,2007-03-26,2011-02-28,2011.0,Senate,90556.0,51.0,SenateStaff 02-28-11.csv,leg,alex padilla,None,NaN,38302.0,Alex,None,Padilla,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
85,meredith,None,borak,2000-02-11,2011-02-28,2011.0,Senate,90591.0,86.0,SenateStaff 02-28-11.csv,leg,fran pavley,None,NaN,104.0,Fran,None,Pavley,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
112,cindy,None,burrell,1991-05-16,2011-02-28,2011.0,Senate,90618.0,113.0,SenateStaff 02-28-11.csv,leg,doug la malfa,None,NaN,38298.0,Doug,None,La Malfa,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
135,shanda,None,chaudhry,2003-09-15,2011-02-28,2011.0,Senate,90641.0,136.0,SenateStaff 02-28-11.csv,leg,curren d. price,None,NaN,38303.0,Curren,None,Price,2011-08-28,2012-01-31,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv,False,True
152,margaret,None,collins,1982-12-06,2011-02-28,2011.0,Senate,90658.0,153.0,SenateStaff 02-28-11.csv,leg,ellen m. corbett,None,NaN,38290.0,Ellen,None,Corbett,2011-08-28,2012-01-31,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv,False,True
161,susanna,None,cooper,2006-12-04,2011-02-28,2011.0,Senate,90667.0,162.0,SenateStaff 02-28-11.csv,leg,darrell steinberg,None,NaN,38306.0,Darrell,None,Steinberg,2011-06-29,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
170,eric,None,csizmar,2009-01-05,2011-02-28,2011.0,Senate,90676.0,171.0,SenateStaff 02-28-11.csv,leg,bob huff,None,NaN,105.0,Bob,None,Huff,2011-06-29,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
174,anna,None,damiani,2008-12-01,2011-02-28,2011.0,Senate,90680.0,175.0,SenateStaff 02-28-11.csv,leg,mark leno,None,NaN,60.0,Mark,None,Leno,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
192,alexandra,None,doniach,2010-11-22,2011-02-28,2011.0,Senate,90698.0,193.0,SenateStaff 02-28-11.csv,leg,leland y. yee,None,NaN,38312.0,Leland,None,Yee,2011-08-28,2012-01-31,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv,False,True
197,carmen,None,ducusin,2004-12-06,2011-02-28,2011.0,Senate,90703.0,198.0,SenateStaff 02-28-11.csv,leg,christine kehoe,None,NaN,38297.0,Christine,None,Kehoe,2011-06-29,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
232,susan,None,finn,2011-02-28,2011-02-28,2011.0,Senate,90738.0,235.0,SenateStaff 02-28-11.csv,leg,darrell steinberg,None,NaN,38306.0,Darrell,None,Steinberg,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
252,junay,None,gardner logan,2008-12-01,2011-02-28,2011.0,Senate,90758.0,255.0,SenateStaff 02-28-11.csv,leg,bob huff,None,NaN,105.0,Bob,None,Huff,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
281,brian,None,green,2011-02-28,2011-02-28,2011.0,Senate,90787.0,284.0,SenateStaff 02-28-11.csv,leg,kevin de leon,None,NaN,102.0,Kevin,None,De Leon,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
292,matt,None,guthrie,2008-12-01,2011-02-28,2011.0,Senate,90798.0,295.0,SenateStaff 02-28-11.csv,leg,tony strickland,None,NaN,38307.0,Tony,None,Strickland,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
295,jennifer,None,guzman,2007-05-01,2011-02-28,2011.0,Senate,90801.0,298.0,SenateStaff 02-28-11.csv,leg,mark leno,None,NaN,60.0,Mark,None,Leno,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
320,laura,None,hein,2004-12-06,2011-02-28,2011.0,Senate,90826.0,323.0,SenateStaff 02-28-11.csv,leg,christine kehoe,None,NaN,38297.0,Christine,None,Kehoe,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
366,gemma,None,jimenez,2007-03-22,2011-02-28,2011.0,Senate,90872.0,371.0,SenateStaff 02-28-11.csv,leg,a lex padilla,None,NaN,38302.0,Alex,None,Padilla,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
399,darlene,None,kirch,2004-12-06,2011-02-28,2011.0,Senate,90905.0,405.0,SenateStaff 02-28-11.csv,leg,bob dutton,None,NaN,38293.0,Bob,None,Dutton,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
408,arcadi,None,kolchak,2009-06-29,2011-02-28,2011.0,Senate,90914.0,414.0,SenateStaff 02-28-11.csv,leg,elaine kontominas alquist,None,NaN,38287.0,Elaine Kontominas,None,Alquist,2011-08-28,2012-01-31,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv,False,True
412,cheryl,None,kozachenko,2007-05-09,2011-02-28,2011.0,Senate,90918.0,418.0,SenateStaff 02-28-11.csv,leg,christine kehoe,None,NaN,38297.0,Christine,None,Kehoe,2011-08-28,2012-01-31,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv,False,True
414,arielle,None,kubu-jones,2011-01-03,2011-02-28,2011.0,Senate,90920.0,420.0,SenateStaff 02-28-11.csv,leg,noreen evans,None,NaN,38295.0,Noreen,None,Evans,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
422,tahiza,None,landeros de reilly,2011-02-28,2011-02-28,2011.0,Senate,90928.0,428.0,SenateStaff 02-28-11.csv,leg,ed hernandez,None,NaN,103.0,Ed,None,Hernandez,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
470,satinder,None,malhi,2005-09-16,2011-02-28,2011.0,Senate,90976.0,477.0,SenateStaff 02-28-11.csv,leg,mark desaulnier,None,NaN,38292.0,Mark,None,DeSaulnier,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
486,jennifer,None,masterson,2008-12-01,2011-02-28,2011.0,Senate,90992.0,493.0,SenateStaff 02-28-11.csv,leg,tony strickland,None,NaN,38307.0,Tony,None,Strickland,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
508,cheryl,None,mclachlan,2005-08-01,2011-02-28,2011.0,Senate,91014.0,515.0,SenateStaff 02-28-11.csv,leg,jean fuller,None,NaN,49.0,Jean,None,Fuller,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
513,frine,None,medrano,2010-12-06,2011-02-28,2011.0,Senate,91019.0,520.0,SenateStaff 02-28-11.csv,leg,kevin de leon,None,NaN,102.0,Kevin,None,De Leon,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
527,suzanne,None,miller,2005-04-04,2011-02-28,2011.0,Senate,91033.0,534.0,SenateStaff 02-28-11.csv,leg,mark wyland,None,NaN,38311.0,Mark,None,Wyland,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
533,hema,None,mohan,2005-03-14,2011-02-28,2011.0,Senate,91039.0,540.0,SenateStaff 02-28-11.csv,leg,s. joseph simitian,None,NaN,38305.0,Joe,None,Simitian,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
565,ana,None,negron,2002-07-01,2011-02-28,2011.0,Senate,91070.0,572.0,SenateStaff 02-28-11.csv,leg,darrell steinberg,None,NaN,38306.0,Darrell,None,Steinberg,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
575,patricia,None,o'brien,2010-12-06,2011-02-28,2011.0,Senate,91080.0,582.0,SenateStaff 02-28-11.csv,leg,tom berryhill,None,NaN,54.0,Tom,None,Berryhill,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,daniel,None,lieberman,2013-01-01,2013-02-28,2013.0,Senate,93037.0,481.0,SenateStaff 02-28-13.csv,leg,leland y. yee,None,NaN,38312.0,Leland,None,Yee,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3958,cheryl,None,mclachlan,2013-01-01,2013-02-28,2013.0,Senate,91014.0,555.0,SenateStaff 02-28-13.csv,leg,jean fuller,None,NaN,49.0,Jean,None,Fuller,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3962,frine,None,medrano,2013-01-01,2013-02-28,2013.0,Senate,91019.0,560.0,SenateStaff 02-28-13.csv,leg,kevin de leon,None,NaN,102.0,Kevin,None,De Leon,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3991,tyler,None,munzing,2013-01-01,2013-02-28,2013.0,Senate,93069.0,603.0,SenateStaff 02-28-13.csv,leg,anthony cannella,None,NaN,61.0,Anthony,None,Cannella,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3996,iso,None,nakasato,2013-01-01,2013-02-28,2013.0,Senate,92492.0,608.0,SenateStaff 02-28-13.csv,leg,ed hernandez,None,NaN,103.0,Ed,None,Hernandez,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4000,stacey,None,neese,2013-01-01,2013-02-28,2013.0,Senate,91068.0,613.0,SenateStaff 02-28-13.csv,leg,bob huff,None,NaN,105.0,Bob,None,Huff,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4001,roberto,None,negrete,2013-01-01,2013-02-28,2013.0,Senate,91069.0,614.0,SenateStaff 02-28-13.csv,leg,alex padilla,None,NaN,38302.0,Alex,None,Padilla,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4021,robert,None,olmstead iii,2013-02-28,2013-02-28,2013.0,Senate,93888.0,642.0,SenateStaff 02-28-13.csv,leg,jim nielsen,None,NaN,68.0,Jim,None,Nielsen,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4024,laura,None,ortega,2013-01-01,2013-02-28,2013.0,Senate,91092.0,647.0,SenateStaff 02-28-13.csv,leg,tom berryhill,None,NaN,54.0,Tom,None,Berryhill,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4044,judith,None,pina,2013-02-28,2013-02-28,2013.0,Senate,93899.0,675.0,SenateStaff 02-28-13.csv,leg,ricardo lara,None,NaN,107.0,Ricardo,None,Lara,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4067,mark,None,reeder,2013-01-01,2013-02-28,2013.0,Senate,91149.0,707.0,SenateStaff 02-28-13.csv,leg,mark wyland,None,NaN,38311.0,Mark,None,Wyland,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4075,meriam,None,reynosa,2013-01-01,2013-02-28,2013.0,Senate,91158.0,715.0,SenateStaff 02-28-13.csv,leg,ellen corbett,None,NaN,38290.0,Ellen,None,Corbett,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4076,darius,None,rice,2013-01-01,2013-02-28,2013.0,Senate,91159.0,716.0,SenateStaff 02-28-13.csv,leg,mimi walters,None,NaN,38309.0,Mimi,None,Walters,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4082,louise,None,rishoff,2012-12-01,2013-02-28,2013.0,Senate,93911.0,723.0,SenateStaff 02-28-13.csv,leg,fran pavley,None,NaN,104.0,Fran,None,Pavley,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4092,jaime,None,rodriguez,2013-01-01,2013-02-28,2013.0,Senate,91174.0,736.0,SenateStaff 02-28-13.csv,leg,ron calderon,None,NaN,38289.0,Ronald,None,Calderon,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4094,veronica,None,rodriguez,2013-02-28,2013-02-28,2013.0,Senate,93171.0,738.0,SenateStaff 02-28-13.csv,leg,jerry hill,None,NaN,66.0,Jerry,None,Hill,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4108,sharon,None,runner,2013-02-05,2013-02-28,2013.0,Senate,93921.0,756.0,SenateStaff 02-28-13.csv,leg,ted gaines,None,NaN,24.0,Ted,None,Gaines,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4112,ranier,None,sabeniano,2013-02-28,2013-02-28,2013.0,Senate,93094.0,760.0,SenateStaff 02-28-13.csv,leg,jerry hill,None,NaN,66.0,Jerry,None,Hill,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4165,barry,None,steinhart,2013-02-28,2013-02-28,2013.0,Senate,91717.0,837.0,SenateStaff 02-28-13.csv,leg,mark leno,None,NaN,60.0,Mark,None,Leno,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4169,russell,None,stiger,2013-02-28,2013-02-28,2013.0,Senate,91720.0,842.0,SenateStaff 02-28-13.csv,leg,kevin de leon,None,NaN,102.0,Kevin,None,De Leon,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4191,baydsar,None,thomasian,2013-01-01,2013-02-28,2013.0,Senate,91732.0,873.0,SenateStaff 02-28-13.csv,leg,kevin de leon,None,NaN,102.0,Kevin,None,De Leon,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4199,jeanne,None,tran,2013-01-01,2013-02-28,2013.0,Senate,93114.0,886.0,SenateStaff 02-28-13.csv,leg,lou correa,None,NaN,38291.0,Lou,None,Correa,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4218,adrianna,None,villanueva,2013-02-28,2013-02-28,2013.0,Senate,91748.0,912.0,SenateStaff 02-28-13.csv,leg,kevin de leon,None,NaN,102.0,Kevin,None,De Leon,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4228,alexandria,None,wara,2012-12-03,2013-02-28,2013.0,Senate,93974.0,923.0,SenateStaff 02-28-13.csv,leg,jim beall,None,NaN,92.0,Jim,None,Beall,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4245,bethany,None,westfall,2012-12-03,2013-02-28,2013.0,Senate,93984.0,947.0,SenateStaff 02-28-13.csv,leg,william w. monning,None,NaN,25.0,Bill,None,Monning,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4251,april,None,whytus,2013-01-01,2013-02-28,2013.0,Senate,93190.0,956.0,SenateStaff 02-28-13.csv,leg,mark desaulnier,None,NaN,38292.0,Mark,None,DeSaulnier,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4256,kathleen,None,wilson,2013-02-28,2013-02-28,2013.0,Senate,91373.0,962.0,SenateStaff 02-28-13.csv,leg,ted gaines,None,NaN,24.0,Ted,None,Gaines,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4259,cory,None,wolbach,2012-12-03,2013-02-28,2013.0,Senate,93989.0,966.0,SenateStaff 02-28-13.csv,leg,jerry hill,None,NaN,66.0,Jerry,None,Hill,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4268,douglas,None,yoakam,2013-01-01,2013-02-28,2013.0,Senate,93131.0,982.0,SenateStaff 02-28-13.csv,leg,bob huff,None,NaN,105.0,Bob,None,Huff,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
5014,francisco,None,torres,2013-01-07,2013-02-28,2013.0,Assembly,94268.0,993.0,AssemblyStaff 02-28-13.csv,leg,gomez,None,NaN,80.0,Jimmy,None,Gomez,2013-06-29,2014-02-28,AssemblyStaff 02-28-13.csv AssemblyStaff 02-28-14.csv,False,True

In [86]:
leg_lop_df[leg_lop_df.pid == 81950]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,...,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
50,angel,None,barnuevo jr.,2007-03-26,2011-02-28,2011.0,Senate,81950.0,51.0,SenateStaff 02-28-11.csv,...,alex padilla,None,NaN,38302.0,Alex,None,Padilla,2011-08-28,2012-06-30,True
5115,angel,None,barnuevo jr.,2013-01-01,2013-06-30,2013.0,Senate,81950.0,60.0,SenateStaff 06-30-13.csv,...,alex padilla,None,NaN,38302.0,Alex,None,Padilla,2014-12-31,2014-02-28,True

In [15]:
leg_lop_df[leg_lop_df.pid == 74196]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,...,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
50,angel,None,barnuevo jr.,2007-03-26,2011-02-28,2011.0,Senate,74196.0,51.0,SenateStaff 02-28-11.csv,...,alex padilla,None,NaN,38302.0,Alex,None,Padilla,2011-08-28,2012-06-30,True
5007,angel,None,barnuevo jr.,2013-01-01,2013-06-30,2013.0,Senate,74196.0,60.0,SenateStaff 06-30-13.csv,...,alex padilla,None,NaN,38302.0,Alex,None,Padilla,2014-12-31,2014-02-28,True

In [69]:
leg_lop_df[leg_lop_df.pid == 74231]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,...,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
85,meredith,None,borak,2000-02-11,2011-02-28,2011.0,Senate,74231.0,86.0,SenateStaff 02-28-11.csv,...,fran pavley,None,NaN,104.0,Fran,None,Pavley,2011-08-28,2012-06-30,True
3554,meredith,None,borak,2013-01-01,2013-02-28,2013.0,Senate,74231.0,97.0,SenateStaff 02-28-13.csv,...,fran pavley,None,NaN,104.0,Fran,None,Pavley,2013-12-30,2013-06-30,True
5828,meredith,None,borak,2014-02-28,2014-02-28,2013.0,Senate,74231.0,94.0,SenateStaff 02-28-14.csv,...,legislative travel office,legislative travel office,3552.0,NaN,None,None,None,2015-12-30,2015-06-30,True

In [9]:
backward_dates = leg_lop_df['hire_date'] >= leg_lop_df['end_date']
sum(backward_dates)

0

In [87]:
def check_overlaps(row, cpy_leg_lop_df):
    out = False
    matched_rows = cpy_leg_lop_df[(cpy_leg_lop_df.pid == row['pid']) &
                                  (row.name != cpy_leg_lop_df.index) &
                                  (row['hire_date'] <= cpy_leg_lop_df.hire_date) &
                                  (row['end_date'] >= cpy_leg_lop_df.hire_date)]

    if len(matched_rows.index):
        out = True
    matched_rows = cpy_leg_lop_df[(cpy_leg_lop_df.pid == row['pid']) &
                                  (row.name != cpy_leg_lop_df.index) &
                                  (row['hire_date'] <= cpy_leg_lop_df.end_date) &
                                  (row['end_date'] >= cpy_leg_lop_df.end_date)]

    if len(matched_rows.index):
        out = True
    matched_rows = cpy_leg_lop_df[(cpy_leg_lop_df.pid == row['pid']) &
                                  (row.name != cpy_leg_lop_df.index) &
                                  (row['hire_date'] >= cpy_leg_lop_df.hire_date) &
                                  (row['end_date'] <= cpy_leg_lop_df.end_date)]

    if len(matched_rows.index):
        out = True
    return out

In [88]:
cpy_leg_lop_df = leg_lop_df.copy()

In [89]:
overlaps = leg_lop_df.apply(lambda row: check_overlaps(row, cpy_leg_lop_df), axis=1)

In [90]:
sum(overlaps)

5

In [99]:
pd.set_option('display.width', pd.util.terminal.get_terminal_size()[0])

In [100]:
pd.option_context('display.max_rows', 999, 'display.max_columns', 5)

In [102]:
pd.set_option('display.max_columns', None)

In [103]:
leg_lop_df[overlaps]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,assoc_type,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
4895,sandra,None,perez,2013-01-01,2013-02-28,2013.0,Assembly,83955.0,826.0,AssemblyStaff 02-28-13.csv,leg,blumenfield,None,NaN,38316.0,Robert,None,Blumenfield,2013-08-28,2013-02-28,True
6272,sandra,None,perez,2014-02-14,2014-02-28,2013.0,Senate,83955.0,653.0,SenateStaff 02-28-14.csv,office,senate office of research,senate office of research,4229.0,NaN,None,None,None,2015-12-30,2015-06-30,True
6273,sandra,None,perez,2013-01-01,2014-02-28,2013.0,Senate,83955.0,654.0,SenateStaff 02-28-14.csv,office,budget & fiscal review,budget & fiscal review,4221.0,NaN,None,None,None,2015-12-30,2015-06-30,True
7215,francisco,None,torres,2015-02-28,2015-02-28,2015.0,Assembly,85662.0,1107.0,AssemblyStaff 2-28-15.csv,leg,gomez,None,NaN,80.0,Jimmy,None,Gomez,2015-08-28,2015-02-28,True
7908,francisco,None,torres,2015-02-28,2015-02-28,2015.0,Senate,85662.0,773.0,SenateStaff 02-28-15.csv,leg,loni hancock,None,NaN,98.0,Loni,None,Hancock,2015-12-30,2015-06-30,True

In [104]:
leg_lop_df[leg_lop_df.pid == 85662]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,assoc_type,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
5014,francisco,None,torres,2013-01-07,2013-02-28,2013.0,Assembly,85662.0,993.0,AssemblyStaff 02-28-13.csv,leg,gomez,None,NaN,80.0,Jimmy,None,Gomez,2013-06-29,2014-02-28,True
5494,francisco,None,torres,2013-06-30,2013-06-30,2013.0,Senate,85662.0,888.0,SenateStaff 06-30-13.csv,leg,loni hancock,None,NaN,98.0,Loni,None,Hancock,2014-12-31,2014-02-28,True
7215,francisco,None,torres,2015-02-28,2015-02-28,2015.0,Assembly,85662.0,1107.0,AssemblyStaff 2-28-15.csv,leg,gomez,None,NaN,80.0,Jimmy,None,Gomez,2015-08-28,2015-02-28,True
7908,francisco,None,torres,2015-02-28,2015-02-28,2015.0,Senate,85662.0,773.0,SenateStaff 02-28-15.csv,leg,loni hancock,None,NaN,98.0,Loni,None,Hancock,2015-12-30,2015-06-30,True

In [91]:
leg_lop_df[overlaps & (leg_lop_df.end_date.apply(lambda x: x.year < 2015))]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,...,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
4895,sandra,None,perez,2013-01-01,2013-02-28,2013.0,Assembly,83955.0,826.0,AssemblyStaff 02-28-13.csv,...,blumenfield,None,NaN,38316.0,Robert,None,Blumenfield,2013-08-28,2013-02-28,True

In [92]:
leg_lop_df[overlaps & pd.notnull(leg_lop_df.leg_pid)]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,...,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
4895,sandra,None,perez,2013-01-01,2013-02-28,2013.0,Assembly,83955.0,826.0,AssemblyStaff 02-28-13.csv,...,blumenfield,None,NaN,38316.0,Robert,None,Blumenfield,2013-08-28,2013-02-28,True
7215,francisco,None,torres,2015-02-28,2015-02-28,2015.0,Assembly,85662.0,1107.0,AssemblyStaff 2-28-15.csv,...,gomez,None,NaN,80.0,Jimmy,None,Gomez,2015-08-28,2015-02-28,True
7908,francisco,None,torres,2015-02-28,2015-02-28,2015.0,Senate,85662.0,773.0,SenateStaff 02-28-15.csv,...,loni hancock,None,NaN,98.0,Loni,None,Hancock,2015-12-30,2015-06-30,True

In [8]:
leg_lop_df[overlaps & (leg_lop_df.pid == 76445)]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,...,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
7499,rebecca,None,tennison,2015-02-28,2015-02-28,2015.0,Senate,76445.0,761.0,SenateStaff 02-28-15.csv,...,21st senatorial district,21st senatorial district,3887.0,NaN,None,None,None,2015-08-28,2015-02-28,True
7905,rebecca,None,tennison,2015-06-30,2015-06-30,2015.0,Senate,76445.0,780.0,SenateStaff 6-30-15.csv,...,sharon runner,None,NaN,4656.0,Sharon,None,Runner,2015-12-30,2015-06-30,True

In [79]:
leg_lop_row = leg_lop_df.ix[7499]

In [78]:
correct_overlap_helper(leg_lop_row, cpy_leg_lop_df)

C:\Users\andre_000\Documents\GitHub\dd-Data3.0\Python_Scripts\UsedForUpdate\ImportLegStaffData\ScrapeStaffBestRefactored.py:1011: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  matched_rows_df = cpy_leg_lop_df[(leg_lop_row['pid'] == cpy_leg_lop_df.pid) &

True

In [ ]:
update_end(dates())

In [71]:
matched_rows_df = cpy_leg_lop_df[(int(leg_lop_row['pid']) == cpy_leg_lop_df.pid) &
                                     (leg_lop_row['hire_date'] < cpy_leg_lop_df.hire_date) &
                                     (leg_lop_row['end_date'] > cpy_leg_lop_df.hire_date)]

In [72]:
matched_rows_df

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,...,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
7905,rebecca,None,tennison,2015-06-30,2015-06-30,2015.0,Senate,76445.0,780.0,SenateStaff 6-30-15.csv,...,sharon runner,None,NaN,4656.0,Sharon,None,Runner,2015-12-30,2015-06-30,True

In [161]:
l = [[1,2]] * 5 + [[3, 4]]

In [162]:
df = pd.DataFrame(l, columns=['A', 'B'])

In [163]:
df

   A  B
0  1  2
1  1  2
2  1  2
3  1  2
4  1  2
5  3  4

In [167]:
df.iloc[:, :1]

   A
0  1
1  1
2  1
3  1
4  1
5  3

In [139]:
def f(df):
    row = df.loc[df.A == 3]
    print(row)
    row.iloc[0]['A'], row.iloc[0]['B'] = 10, 15

In [140]:
f(df)

   A  B
5  3  4

In [138]:
df

   A  B
0  1  2
1  1  2
2  1  2
3  1  2
4  1  2
5  3  4

In [144]:
l = [1]
l += [datetime.date(2012, 1, 1)]
l

[1, datetime.date(2012, 1, 1)]

In [66]:
def inner_f(row):
    row['A'] = 5
#     print(type(row))
#     print(row)

In [67]:
def outer_f(row):
    inner_f(row)
    return row

In [153]:
l = [[pd.Series([], dtype='object'), 2]] * 3
l

[[Series([], dtype: object), 2],
 [Series([], dtype: object), 2],
 [Series([], dtype: object), 2]]

In [155]:
df = pd.DataFrame(l, columns=['A', 'B'])

In [159]:
df.iloc[0]['A'].add('hi')

Series([], dtype: object)

In [158]:
df

                           A  B
0  Series([], dtype: object)  2
1  Series([], dtype: object)  2
2  Series([], dtype: object)  2

In [68]:
df.apply(lambda row: outer_f(row), axis=1)

   A  B
0  5  2
1  5  2
2  5  2