In [208]:
import pickle
import pandas as pd
from dateutil.relativedelta import relativedelta
from unidecode import unidecode
import numpy as np

from functools import partial

from ScrapeStaffBestRefactored import *

%reload_ext autoreload
%autoreload 2

In [222]:
leg_lop_df = pickle.load(open('leg_lop_df.p', 'rb'))
# cpy_leg_lop_df = pickle.load(open('cpy_leg_lop_df.p', 'rb'))

existing_staff_df = pickle.load(open('existing_staff_df.p', 'rb'))

# leg_lop_row = pickle.load(open('leg_lop_row.p', 'rb'))
# offices_df = pickle.load(open('offices_df.p', 'rb'))

# staff_info = pickle.load(open('staff_info.p', 'rb'))

# matched_rows_df = pickle.load(open('matched_rows_df.p', 'rb'))

# matched_leg_terms_df = pickle.load(open('matched_leg_terms_df.p', 'rb'))

# db_leg_term_infos = pickle.load(open('SavedLegTermInfo.p', 'rb'))
# db_leg_term_df = pd.DataFrame(db_leg_term_infos)
# db_leg_term_df = pickle.load(open('db_leg_term_df.p', 'rb'))

g_missed_staff = pickle.load(open('g_missed_staff.p', 'rb'))

# match_df = pickle.load(open('match_df.p', 'rb'))

In [223]:
bad_dates = leg_lop_df['last_seen'] > leg_lop_df['end_date']

In [224]:
sum(bad_dates)

98

In [227]:
leg_lop_df[leg_lop_df['last'].apply(lambda x: 'chaudhry' in x)]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,assoc_type,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,file_appearances,set_at_end,primary_source
135,shanda,None,chaudhry,2003-09-15,2011-02-28,2011.0,Senate,95952.0,136.0,SenateStaff 02-28-11.csv,leg,curren d. price,None,NaN,38303.0,Curren,None,Price,2011-08-28,2012-01-31,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv,False,True
955,sl-l.<\nda,None,chaudhry,2003-09-15,2011-06-30,2011.0,Senate,96746.0,150.0,SenateStaff 06-30-11.csv,leg,curren d. price,None,NaN,38303.0,Curren,None,Price,2011-12-30,2011-06-30,SenateStaff 06-30-11.csv,False,True

In [204]:
row1 = leg_lop_df[leg_lop_df['last'].apply(lambda x: 'borak' in x)].iloc[0]
row2 = leg_lop_df[leg_lop_df['last'].apply(lambda x: 'borak' in x)].iloc[1]

In [215]:
f1, m1, l1 = row1['first'], row1['middle'], row1['last']
f2, m2, l2 = row2['first'], row2['middle'], row2['last']

In [219]:
cmp_names(f1, m1, l1, f2, m2, l2)

True

In [216]:
f1 == f2

True

In [217]:
m1 == m2

True

In [218]:
l1 == l2

False

In [225]:
leg_lop_df[bad_dates]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,assoc_type,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,file_appearances,set_at_end,primary_source
86,irma,None,boreman,1997-02-24,2011-02-28,2011.0,Senate,95903.0,87.0,SenateStaff 02-28-11.csv,leg,jean fuller,None,NaN,49.0,Jean,None,Fuller,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
135,shanda,None,chaudhry,2003-09-15,2011-02-28,2011.0,Senate,95952.0,136.0,SenateStaff 02-28-11.csv,leg,curren d. price,None,NaN,38303.0,Curren,None,Price,2011-08-28,2012-01-31,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv,False,True
152,margaret,None,collins,1982-12-06,2011-02-28,2011.0,Senate,95969.0,153.0,SenateStaff 02-28-11.csv,leg,ellen m. corbett,None,NaN,38290.0,Ellen,None,Corbett,2011-08-28,2012-01-31,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv,False,True
161,susanna,None,cooper,2006-12-04,2011-02-28,2011.0,Senate,95978.0,162.0,SenateStaff 02-28-11.csv,leg,darrell steinberg,None,NaN,38306.0,Darrell,None,Steinberg,2011-06-29,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
170,eric,None,csizmar,2009-01-05,2011-02-28,2011.0,Senate,95987.0,171.0,SenateStaff 02-28-11.csv,leg,bob huff,None,NaN,105.0,Bob,None,Huff,2011-06-29,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
192,alexandra,None,doniach,2010-11-22,2011-02-28,2011.0,Senate,96009.0,193.0,SenateStaff 02-28-11.csv,leg,leland y. yee,None,NaN,38312.0,Leland,None,Yee,2011-08-28,2012-01-31,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv,False,True
197,carmen,None,ducusin,2004-12-06,2011-02-28,2011.0,Senate,96014.0,198.0,SenateStaff 02-28-11.csv,leg,christine kehoe,None,NaN,38297.0,Christine,None,Kehoe,2011-06-29,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
209,margie,None,estrada-schoorl,2009-06-16,2011-02-28,2011.0,Senate,96026.0,210.0,SenateStaff 02-28-11.csv,leg,darrell steinberg,None,NaN,38306.0,Darrell,None,Steinberg,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
232,susan,None,finn,2011-02-28,2011-02-28,2011.0,Senate,96049.0,235.0,SenateStaff 02-28-11.csv,leg,darrell steinberg,None,NaN,38306.0,Darrell,None,Steinberg,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
281,brian,None,green,2011-02-28,2011-02-28,2011.0,Senate,96098.0,284.0,SenateStaff 02-28-11.csv,leg,kevin de leon,None,NaN,102.0,Kevin,None,De Leon,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
292,matt,None,guthrie,2008-12-01,2011-02-28,2011.0,Senate,96109.0,295.0,SenateStaff 02-28-11.csv,leg,tony strickland,None,NaN,38307.0,Tony,None,Strickland,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
295,jennifer,None,guzman,2007-05-01,2011-02-28,2011.0,Senate,96112.0,298.0,SenateStaff 02-28-11.csv,leg,mark leno,None,NaN,60.0,Mark,None,Leno,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
320,laura,None,hein,2004-12-06,2011-02-28,2011.0,Senate,96137.0,323.0,SenateStaff 02-28-11.csv,leg,christine kehoe,None,NaN,38297.0,Christine,None,Kehoe,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
366,gemma,None,jimenez,2007-03-22,2011-02-28,2011.0,Senate,96183.0,371.0,SenateStaff 02-28-11.csv,leg,a lex padilla,None,NaN,38302.0,Alex,None,Padilla,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
408,arcadi,None,kolchak,2009-06-29,2011-02-28,2011.0,Senate,96225.0,414.0,SenateStaff 02-28-11.csv,leg,elaine kontominas alquist,None,NaN,38287.0,Elaine Kontominas,None,Alquist,2011-08-28,2012-01-31,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv,False,True
486,jennifer,None,masterson,2008-12-01,2011-02-28,2011.0,Senate,96303.0,493.0,SenateStaff 02-28-11.csv,leg,tony strickland,None,NaN,38307.0,Tony,None,Strickland,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
516,diana,None,mensing-cowan,2007-01-25,2011-02-28,2011.0,Senate,96333.0,523.0,SenateStaff 02-28-11.csv,leg,darrell steinberg,None,NaN,38306.0,Darrell,None,Steinberg,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
527,suzanne,None,miller,2005-04-04,2011-02-28,2011.0,Senate,96344.0,534.0,SenateStaff 02-28-11.csv,leg,mark wyland,None,NaN,38311.0,Mark,None,Wyland,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
533,hema,None,mohan,2005-03-14,2011-02-28,2011.0,Senate,96350.0,540.0,SenateStaff 02-28-11.csv,leg,s. joseph simitian,None,NaN,38305.0,Joe,None,Simitian,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
565,ana,None,negron,2002-07-01,2011-02-28,2011.0,Senate,96381.0,572.0,SenateStaff 02-28-11.csv,leg,darrell steinberg,None,NaN,38306.0,Darrell,None,Steinberg,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
575,patricia,None,o'brien,2010-12-06,2011-02-28,2011.0,Senate,96391.0,582.0,SenateStaff 02-28-11.csv,leg,tom berryhill,None,NaN,54.0,Tom,None,Berryhill,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
602,sean,None,paroski,2008-12-15,2011-02-28,2011.0,Senate,96418.0,610.0,SenateStaff 02-28-11.csv,leg,tony strickland,None,NaN,38307.0,Tony,None,Strickland,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
622,annette,None,porini,2003-01-01,2011-02-28,2011.0,Senate,96438.0,630.0,SenateStaff 02-28-11.csv,leg,"s, joseph simitian",None,NaN,38305.0,Joe,None,Simitian,2011-08-28,2012-01-31,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv,False,True
644,mark,None,reeder,2004-04-06,2011-02-28,2011.0,Senate,96460.0,652.0,SenateStaff 02-28-11.csv,leg,mark wyland,None,NaN,38311.0,Mark,None,Wyland,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
653,meriam,None,reynosa,2006-12-14,2011-02-28,2011.0,Senate,96469.0,661.0,SenateStaff 02-28-11.csv,leg,ellen corbett,None,NaN,38290.0,Ellen,None,Corbett,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
671,martha,None,rodriguez,2006-12-04,2011-02-28,2011.0,Senate,96487.0,679.0,SenateStaff 02-28-11.csv,leg,gloria negrete mcleod,None,NaN,38301.0,Gloria,None,Negrete McLeod,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
729,erin,None,shaw,2010-10-04,2011-02-28,2011.0,Senate,96545.0,738.0,SenateStaff 02-28-11.csv,leg,sam blakeslee,None,NaN,38288.0,Sam,None,Blakeslee,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
739,mindy,None,simmons,2009-05-18,2011-02-28,2011.0,Senate,96555.0,748.0,SenateStaff 02-28-11.csv,leg,lois wolk,None,NaN,94.0,Lois,None,Wolk,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
741,william,None,skaarup,2006-11-16,2011-02-28,2011.0,Senate,96557.0,750.0,SenateStaff 02-28-11.csv,leg,kevin de leon,None,NaN,102.0,Kevin,None,De Leon,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
771,jann,None,taber,2008-08-04,2011-02-28,2011.0,Senate,96587.0,780.0,SenateStaff 02-28-11.csv,leg,bob dutton,None,NaN,38293.0,Bob,None,Dutton,2011-08-28,2012-06-30,SenateStaff 02-28-11.csv SenateStaff 01-31-12.csv SenateStaff 06-30-12.csv,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3730,gemma,None,jimenez,2013-01-01,2013-02-28,2013.0,Senate,96183.0,407.0,SenateStaff 02-28-13.csv,leg,alex padilla,None,NaN,38302.0,Alex,None,Padilla,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3731,laura,None,jimenez,2013-01-01,2013-02-28,2013.0,Senate,96817.0,408.0,SenateStaff 02-28-13.csv,leg,ed hernandez,None,NaN,103.0,Ed,None,Hernandez,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3732,yuri,None,jimenez,2013-01-01,2013-02-28,2013.0,Senate,96818.0,409.0,SenateStaff 02-28-13.csv,leg,ron calderon,None,NaN,38289.0,Ronald,None,Calderon,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3786,daniel,None,lieberman,2013-01-01,2013-02-28,2013.0,Senate,96835.0,481.0,SenateStaff 02-28-13.csv,leg,leland y. yee,None,NaN,38312.0,Leland,None,Yee,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3867,tyler,None,munzing,2013-01-01,2013-02-28,2013.0,Senate,98258.0,603.0,SenateStaff 02-28-13.csv,leg,anthony cannella,None,NaN,61.0,Anthony,None,Cannella,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3872,iso,None,nakasato,2013-01-01,2013-02-28,2013.0,Senate,97699.0,608.0,SenateStaff 02-28-13.csv,leg,ed hernandez,None,NaN,103.0,Ed,None,Hernandez,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3886,rebecca,None,nieto,2013-01-28,2013-02-28,2013.0,Senate,99024.0,625.0,SenateStaff 02-28-13.csv,leg,ellen corbett,None,NaN,38290.0,Ellen,None,Corbett,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3896,robert,None,olmstead iii,2013-02-28,2013-02-28,2013.0,Senate,99031.0,642.0,SenateStaff 02-28-13.csv,leg,jim nielsen,None,NaN,68.0,Jim,None,Nielsen,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3899,laura,None,ortega,2013-01-01,2013-02-28,2013.0,Senate,96403.0,647.0,SenateStaff 02-28-13.csv,leg,tom berryhill,None,NaN,54.0,Tom,None,Berryhill,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3900,william,None,orton,2013-01-01,2013-02-28,2013.0,Senate,96880.0,651.0,SenateStaff 02-28-13.csv,leg,roderick d. wright,None,NaN,38310.0,Roderick,None,Wright,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3918,judith,None,pina,2013-02-28,2013-02-28,2013.0,Senate,99038.0,675.0,SenateStaff 02-28-13.csv,leg,ricardo lara,None,NaN,107.0,Ricardo,None,Lara,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3947,meriam,None,reynosa,2013-01-01,2013-02-28,2013.0,Senate,96469.0,715.0,SenateStaff 02-28-13.csv,leg,ellen corbett,None,NaN,38290.0,Ellen,None,Corbett,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3948,darius,None,rice,2013-01-01,2013-02-28,2013.0,Senate,96470.0,716.0,SenateStaff 02-28-13.csv,leg,mimi walters,None,NaN,38309.0,Mimi,None,Walters,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3954,louise,None,rishoff,2012-12-01,2013-02-28,2013.0,Senate,99046.0,723.0,SenateStaff 02-28-13.csv,leg,fran pavley,None,NaN,104.0,Fran,None,Pavley,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3964,jaime,None,rodriguez,2013-01-01,2013-02-28,2013.0,Senate,96485.0,736.0,SenateStaff 02-28-13.csv,leg,ron calderon,None,NaN,38289.0,Ronald,None,Calderon,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3966,veronica,None,rodriguez,2013-02-28,2013-02-28,2013.0,Senate,98353.0,738.0,SenateStaff 02-28-13.csv,leg,jerry hill,None,NaN,66.0,Jerry,None,Hill,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3980,sharon,None,runner,2013-02-05,2013-02-28,2013.0,Senate,99055.0,756.0,SenateStaff 02-28-13.csv,leg,ted gaines,None,NaN,24.0,Ted,None,Gaines,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
3984,ranier,None,sabeniano,2013-02-28,2013-02-28,2013.0,Senate,98280.0,760.0,SenateStaff 02-28-13.csv,leg,jerry hill,None,NaN,66.0,Jerry,None,Hill,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4008,bryan,None,shadden,2013-02-28,2013-02-28,2013.0,Senate,98359.0,798.0,SenateStaff 02-28-13.csv,leg,jerry hill,None,NaN,66.0,Jerry,None,Hill,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4035,barry,None,steinhart,2013-02-28,2013-02-28,2013.0,Senate,96942.0,837.0,SenateStaff 02-28-13.csv,leg,mark leno,None,NaN,60.0,Mark,None,Leno,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4039,russell,None,stiger,2013-02-28,2013-02-28,2013.0,Senate,96944.0,842.0,SenateStaff 02-28-13.csv,leg,kevin de leon,None,NaN,102.0,Kevin,None,De Leon,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4061,baydsar,None,thomasian,2013-01-01,2013-02-28,2013.0,Senate,96603.0,873.0,SenateStaff 02-28-13.csv,leg,kevin de leon,None,NaN,102.0,Kevin,None,De Leon,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4065,francisco,None,torres,2012-09-01,2013-02-28,2013.0,Senate,99086.0,882.0,SenateStaff 02-28-13.csv,leg,loni hancock,None,NaN,98.0,Loni,None,Hancock,2013-01-06,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 06-30-13.csv SenateStaff 02-28-14.csv,False,True
4069,jeanne,None,tran,2013-01-01,2013-02-28,2013.0,Senate,98299.0,886.0,SenateStaff 02-28-13.csv,leg,lou correa,None,NaN,38291.0,Lou,None,Correa,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4078,timothy,None,valderrama,2013-01-01,2013-02-28,2013.0,Senate,96625.0,901.0,SenateStaff 02-28-13.csv,leg,ed hernandez,None,NaN,103.0,Ed,None,Hernandez,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4096,alexandria,None,wara,2012-12-03,2013-02-28,2013.0,Senate,99100.0,923.0,SenateStaff 02-28-13.csv,leg,jim beall,None,NaN,92.0,Jim,None,Beall,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4119,april,None,whytus,2013-01-01,2013-02-28,2013.0,Senate,98372.0,956.0,SenateStaff 02-28-13.csv,leg,mark desaulnier,None,NaN,38292.0,Mark,None,DeSaulnier,2013-08-28,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4124,kathleen,None,wilson,2013-02-28,2013-02-28,2013.0,Senate,96683.0,962.0,SenateStaff 02-28-13.csv,leg,ted gaines,None,NaN,24.0,Ted,None,Gaines,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4127,cory,None,wolbach,2012-12-03,2013-02-28,2013.0,Senate,99115.0,966.0,SenateStaff 02-28-13.csv,leg,jerry hill,None,NaN,66.0,Jerry,None,Hill,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True
4136,douglas,None,yoakam,2013-01-01,2013-02-28,2013.0,Senate,98313.0,982.0,SenateStaff 02-28-13.csv,leg,bob huff,None,NaN,105.0,Bob,None,Huff,2013-06-29,2014-02-28,SenateStaff 02-28-13.csv SenateStaff 02-28-14.csv,False,True

In [220]:
backward_dates = leg_lop_df['hire_date'] >= leg_lop_df['end_date']
sum(backward_dates)

0

In [87]:
def check_overlaps(row, cpy_leg_lop_df):
    out = False
    matched_rows = cpy_leg_lop_df[(cpy_leg_lop_df.pid == row['pid']) &
                                  (row.name != cpy_leg_lop_df.index) &
                                  (row['hire_date'] <= cpy_leg_lop_df.hire_date) &
                                  (row['end_date'] >= cpy_leg_lop_df.hire_date)]

    if len(matched_rows.index):
        out = True
    matched_rows = cpy_leg_lop_df[(cpy_leg_lop_df.pid == row['pid']) &
                                  (row.name != cpy_leg_lop_df.index) &
                                  (row['hire_date'] <= cpy_leg_lop_df.end_date) &
                                  (row['end_date'] >= cpy_leg_lop_df.end_date)]

    if len(matched_rows.index):
        out = True
    matched_rows = cpy_leg_lop_df[(cpy_leg_lop_df.pid == row['pid']) &
                                  (row.name != cpy_leg_lop_df.index) &
                                  (row['hire_date'] >= cpy_leg_lop_df.hire_date) &
                                  (row['end_date'] <= cpy_leg_lop_df.end_date)]

    if len(matched_rows.index):
        out = True
    return out

In [88]:
cpy_leg_lop_df = leg_lop_df.copy()

In [89]:
overlaps = leg_lop_df.apply(lambda row: check_overlaps(row, cpy_leg_lop_df), axis=1)

In [90]:
sum(overlaps)

5

In [99]:
pd.set_option('display.width', pd.util.terminal.get_terminal_size()[0])

In [100]:
pd.option_context('display.max_rows', 999, 'display.max_columns', 5)

In [102]:
pd.set_option('display.max_columns', None)

In [103]:
leg_lop_df[overlaps]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,assoc_type,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
4895,sandra,None,perez,2013-01-01,2013-02-28,2013.0,Assembly,83955.0,826.0,AssemblyStaff 02-28-13.csv,leg,blumenfield,None,NaN,38316.0,Robert,None,Blumenfield,2013-08-28,2013-02-28,True
6272,sandra,None,perez,2014-02-14,2014-02-28,2013.0,Senate,83955.0,653.0,SenateStaff 02-28-14.csv,office,senate office of research,senate office of research,4229.0,NaN,None,None,None,2015-12-30,2015-06-30,True
6273,sandra,None,perez,2013-01-01,2014-02-28,2013.0,Senate,83955.0,654.0,SenateStaff 02-28-14.csv,office,budget & fiscal review,budget & fiscal review,4221.0,NaN,None,None,None,2015-12-30,2015-06-30,True
7215,francisco,None,torres,2015-02-28,2015-02-28,2015.0,Assembly,85662.0,1107.0,AssemblyStaff 2-28-15.csv,leg,gomez,None,NaN,80.0,Jimmy,None,Gomez,2015-08-28,2015-02-28,True
7908,francisco,None,torres,2015-02-28,2015-02-28,2015.0,Senate,85662.0,773.0,SenateStaff 02-28-15.csv,leg,loni hancock,None,NaN,98.0,Loni,None,Hancock,2015-12-30,2015-06-30,True

In [104]:
leg_lop_df[leg_lop_df.pid == 85662]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,assoc_type,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
5014,francisco,None,torres,2013-01-07,2013-02-28,2013.0,Assembly,85662.0,993.0,AssemblyStaff 02-28-13.csv,leg,gomez,None,NaN,80.0,Jimmy,None,Gomez,2013-06-29,2014-02-28,True
5494,francisco,None,torres,2013-06-30,2013-06-30,2013.0,Senate,85662.0,888.0,SenateStaff 06-30-13.csv,leg,loni hancock,None,NaN,98.0,Loni,None,Hancock,2014-12-31,2014-02-28,True
7215,francisco,None,torres,2015-02-28,2015-02-28,2015.0,Assembly,85662.0,1107.0,AssemblyStaff 2-28-15.csv,leg,gomez,None,NaN,80.0,Jimmy,None,Gomez,2015-08-28,2015-02-28,True
7908,francisco,None,torres,2015-02-28,2015-02-28,2015.0,Senate,85662.0,773.0,SenateStaff 02-28-15.csv,leg,loni hancock,None,NaN,98.0,Loni,None,Hancock,2015-12-30,2015-06-30,True

In [91]:
leg_lop_df[overlaps & (leg_lop_df.end_date.apply(lambda x: x.year < 2015))]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,...,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
4895,sandra,None,perez,2013-01-01,2013-02-28,2013.0,Assembly,83955.0,826.0,AssemblyStaff 02-28-13.csv,...,blumenfield,None,NaN,38316.0,Robert,None,Blumenfield,2013-08-28,2013-02-28,True

In [92]:
leg_lop_df[overlaps & pd.notnull(leg_lop_df.leg_pid)]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,...,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
4895,sandra,None,perez,2013-01-01,2013-02-28,2013.0,Assembly,83955.0,826.0,AssemblyStaff 02-28-13.csv,...,blumenfield,None,NaN,38316.0,Robert,None,Blumenfield,2013-08-28,2013-02-28,True
7215,francisco,None,torres,2015-02-28,2015-02-28,2015.0,Assembly,85662.0,1107.0,AssemblyStaff 2-28-15.csv,...,gomez,None,NaN,80.0,Jimmy,None,Gomez,2015-08-28,2015-02-28,True
7908,francisco,None,torres,2015-02-28,2015-02-28,2015.0,Senate,85662.0,773.0,SenateStaff 02-28-15.csv,...,loni hancock,None,NaN,98.0,Loni,None,Hancock,2015-12-30,2015-06-30,True

In [8]:
leg_lop_df[overlaps & (leg_lop_df.pid == 76445)]

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,...,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
7499,rebecca,None,tennison,2015-02-28,2015-02-28,2015.0,Senate,76445.0,761.0,SenateStaff 02-28-15.csv,...,21st senatorial district,21st senatorial district,3887.0,NaN,None,None,None,2015-08-28,2015-02-28,True
7905,rebecca,None,tennison,2015-06-30,2015-06-30,2015.0,Senate,76445.0,780.0,SenateStaff 6-30-15.csv,...,sharon runner,None,NaN,4656.0,Sharon,None,Runner,2015-12-30,2015-06-30,True

In [79]:
leg_lop_row = leg_lop_df.ix[7499]

In [78]:
correct_overlap_helper(leg_lop_row, cpy_leg_lop_df)

C:\Users\andre_000\Documents\GitHub\dd-Data3.0\Python_Scripts\UsedForUpdate\ImportLegStaffData\ScrapeStaffBestRefactored.py:1011: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  matched_rows_df = cpy_leg_lop_df[(leg_lop_row['pid'] == cpy_leg_lop_df.pid) &

True

In [ ]:
update_end(dates())

In [71]:
matched_rows_df = cpy_leg_lop_df[(int(leg_lop_row['pid']) == cpy_leg_lop_df.pid) &
                                     (leg_lop_row['hire_date'] < cpy_leg_lop_df.hire_date) &
                                     (leg_lop_row['end_date'] > cpy_leg_lop_df.hire_date)]

In [72]:
matched_rows_df

,first,middle,last,hire_date,file_date,term_year,house,pid,row,file,...,assoc,office,lo_id,leg_pid,leg_first,leg_middle,leg_last,end_date,last_seen,primary_source
7905,rebecca,None,tennison,2015-06-30,2015-06-30,2015.0,Senate,76445.0,780.0,SenateStaff 6-30-15.csv,...,sharon runner,None,NaN,4656.0,Sharon,None,Runner,2015-12-30,2015-06-30,True

In [161]:
l = [[1,2]] * 5 + [[3, 4]]

In [162]:
df = pd.DataFrame(l, columns=['A', 'B'])

In [163]:
df

   A  B
0  1  2
1  1  2
2  1  2
3  1  2
4  1  2
5  3  4

In [167]:
df.iloc[:, :1]

   A
0  1
1  1
2  1
3  1
4  1
5  3

In [139]:
def f(df):
    row = df.loc[df.A == 3]
    print(row)
    row.iloc[0]['A'], row.iloc[0]['B'] = 10, 15

In [140]:
f(df)

   A  B
5  3  4

In [138]:
df

   A  B
0  1  2
1  1  2
2  1  2
3  1  2
4  1  2
5  3  4

In [144]:
l = [1]
l += [datetime.date(2012, 1, 1)]
l

[1, datetime.date(2012, 1, 1)]

In [66]:
def inner_f(row):
    row['A'] = 5
#     print(type(row))
#     print(row)

In [67]:
def outer_f(row):
    inner_f(row)
    return row

In [153]:
l = [[pd.Series([], dtype='object'), 2]] * 3
l

[[Series([], dtype: object), 2],
 [Series([], dtype: object), 2],
 [Series([], dtype: object), 2]]

In [155]:
df = pd.DataFrame(l, columns=['A', 'B'])

In [159]:
df.iloc[0]['A'].add('hi')

Series([], dtype: object)

In [158]:
df

                           A  B
0  Series([], dtype: object)  2
1  Series([], dtype: object)  2
2  Series([], dtype: object)  2

In [68]:
df.apply(lambda row: outer_f(row), axis=1)

   A  B
0  5  2
1  5  2
2  5  2